html, body{
    height: 100%;
    margin: 0px;
    background-color: ghostwhite;
    font-family: 'roboto', sans-serif;
    color: BLACK;
    font-weight: 300;
}
.social{
    opacity: .8;
    z-index: 1;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 20%;
    background-color: ghostwhite;
    position: fixed;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .2s;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    color: #263238;
}
#sbutind{
    width: 40px;
    height: 40px;
}
#sbutind img{
    padding-left: 5px;
    padding-top: 5px;
}
#sbutf{
    transition: .25s;
    width: 40px;
    height: 0px;
    display: none;
}
#sbuti{
    transition: .25s;
    width: 40px;
    height: 0px;
    display: none;
}
#sbuty{
    transition: .25s;
    width: 40px;
    height: 0px;
    display: none;
}
#sbutt{
    transition: .25s;
    width: 40px;
    height: 0px;
    display: none;
}
.social p{
    padding-top: 5px;
}

#sbutt:last-child{
    border-bottom-right-radius:20px;
}

.social:hover{
    opacity: 1;
    height:200px;
}
.social:hover #sbutf{
    margin-top: -12px;
    display: block;
    height: 39px;
    cursor: pointer;

}
.social:hover #sbuti{
    margin-top: -12px;
    display: block;
    height: 39px;
    cursor: pointer;
    
}
.social:hover #sbuty{
    margin-top: -12px;
    display: block;
    height: 39px;
    cursor: pointer;
}
.social:hover #sbutt{
    margin-top: -12px;
    display: block;
    height: 39px;
    cursor: pointer;
    
}

#sbutf:hover{
    color: white;
    background-color: #3b5998 ;
}
#sbuti:hover{
    color: white;
    background-color: #c32aa3 ;
}
#sbuty:hover{
    color: white;
    background-color: #ff0000 ;
}
#sbutt:hover{
    color: white;
    background-color: #1da1f2 ;
}
.back{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image:linear-gradient(rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url("indexback.jpg");   
}

.topbar{
    margin: auto;
    width:95%;
    
}

#topbarblocks{
    box-sizing: border-box;
    position: relative;
    display:inline-block;
    margin-top: 10px;
    width: 24.2%;
    padding: 9px;
}

#topbarblocks a{
    text-decoration: none;
    color: white;
}

#navbut{
    margin:auto;
    width:100px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
    letter-spacing: 4px;
    transition: 0.18s;
}

#navbut:hover{
    cursor: pointer;
}
#navbut:hover a{
    font-weight: 800;
    color: yellow;
    
}
#topbarblocksabout:hover a{
    color: black;
}
#navbut:active{
    
    cursor: pointer;
    font-weight: 500;
    color: #263238;
    background-color: white;
    border-radius: 2px;
}
.otherpages{
    background-color: green;
}

#intro{
    position: relative;
    padding-top: 2.7em;
    width: 70%;
    margin: auto;
    color: white;
    font-size: 3.3em;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 800;
}

#tagline{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: white;
    
}

#tag2{
    width: 300px;
    margin:auto;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: white;
    font-weight: 100;
}
#tag2text1{
   
    padding-top: 110px;
    width: 40%;
    float:left;
    display: inline-block
}
#tag2text2{
    padding-left: px;
    padding-top: 110px;
    width: 40%;
    float:right;
    display: inline-block
}
#slash{
    opacity: .8;
    padding-top: 25px;
    font-size: 12em;
    font-family: f;
    color: #689F38;
    margin:auto;
    font-weight: 100;
    display: inline-block
}

@media only screen and (max-width: 995px){
    #intro{
        font-size: 2.8em;
    }
}
@media only screen and (max-width: 703px){
    #intro{
        font-size: 2em;
    }
    #slash{
        font-size: 10em;
        margin-top: .1.5em;
    }
}
@media only screen and (max-width: 600px){
    .topbar{
        width: 100%;
    }
    #topbarblocks{
        margin-top: 0;
    }
    #navbut{
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 500;
    }
}
.quoteholder{
    padding-top: 35px;
    
}
.quoteholder p{
    width: 60%;
    margin: auto;
    text-align: center;
    display: block;
    color: #263238;
    font-family: 'roboto', sans-serif;
    letter-spacing: .3px;
    font-weight: 300;
    font-size: 18px; 
}

.quoteholder p::before{
    opacity: 0.25;
    margin-top: 6px;
    display: inline-block;
    content: open-quote;
    font-size: 3em;
    font-family: Helvetica;
}
.quoteholder p::after{
    opacity: 0.25;
    margin-top: -6px;
    display: inline-block;
    content: close-quote;
    font-size: 3em;
    font-family: Helvetica;
}

.container{
    height: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    word-spacing: .6px;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    padding: 40px 20px;
}

.container h2{
 font-weight: 500;   
}
.container p{
    letter-spacing: .4px;
}

#ytlogo{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: grey;
    
}

#ytlogo img{
    
}

.foot{
    background-color: #263238;
    color:white;
    font-size: 14px;

}
.foot p{
    text-align: center;
}
.aboutglobalcontainer{
    color: white;
    width:75%;
    height: 200%;
    margin: auto;
    
}
.aboutcontainer{
    width: 49.8%;
    display: inline-block;
}
.aboutcontainer:first-child{
    background-size: 100%;
    background-color:#e74c3c; 
}
.aboutcontainer:nth-child(2){
    background-size: 100%;
    background-color:#004D40 ; 
}
#aboutpic1{
    height: 24em;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(231, 76, 60,1)), url("me.png");
}
#aboutpic2{
    height: 24em;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,77,64, 1)), url("rv.jpg");
}
.aboutpicname{
    opacity: ;
    margin-left: 25px;
    width: 42%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-top: -.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
}
#name1{
    color: #e74c3c;
}
#name2{
    color:#004D40;
}
#about{
    width: 90%;
    margin: auto;
    font-size: 17px;
    font-family: calibri;
}
#pagename{
    position: fixed;
    font-family: calibri;
    font-size: 45px;
    width: 170px;
    text-align: center;
    transform: rotate(-90deg);
    padding: 15px;
    float: left;
    z-index: 1;
    margin-left: -78px;
    margin-top: 200px;
}
.catalog{
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    width: 26%;
    height: 14em;
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    font-weight: 500;
    color: #37474F;
    font-size: 18px;
    transition: .06s;
}
.catalog1{
    float:left;
}
.catalog2{
    margin-left: 11%;
}
.catalog3{
    float: right;
  
}
.catalog:hover{
    box-shadow:1px 1px 30px #90A4AE;
    cursor: pointer;
}
#catalogdes{
    font-size: 15px;
    font-weight: 100;
    padding: 20px;
    
}
#playbut{
    
    background-color: #37474F;
    margin-top: 2em;
    margin:auto;
    display: block;
    width:36px;
    height: 36px;
    border-radius: 50%;
}
